*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
 background-color: #eeeeee;
 width: 100%;
 height: 50px;
}
.oculto{
    display: none;
}
/*
header nav ul li{
    list-style-type: none;
    float: left;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    color: #2d3646;
    display: inline-block;
}
header nav ul li a:hover{
    color:white;
    background-color: black;
}*/
body{
    background-color: #425067 ;
}
main{
    background-color: white;
    width: 70%;
    float: left;
    padding:10px;
}
main img{
    max-width: 100%;  
    border:2px solid #2d3646;
    border-radius: 10px;
    padding: 10px;
}
main section{
    padding: 30px;
}
main section p{
    text-align: justify;
    margin-bottom: 16px;
    line-height: 200%;
}
main section h1{
    margin-bottom: 20px;
    font-size:1.6em;
}
aside{
    width: 30%;
    float: left;
    padding: 30px;
    background-color: #25d6c8;
}
 
aside ul li{
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
aside ul li:hover{
    color: #425067;
}
aside h2{
    margin-bottom: 16px;
}
footer{
    width: 70%;
    background-color: #e52;
    clear: both;
    padding: 60px;
}
article img{
    float: left;
    width: 30%;
}
.datos-productos{
    float: right;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
}
.nombre, .precio{
    text-align: right;
    font-weight: bold;
}
.precio {
    color: #e52;
    margin: 5px 0px;
}
.colores li{
    width: 30px;
    display: inline-block;
    height: 30px;
    border: 1px solid black;
    border-radius:50%;
}
.maroon{
    background-color: maroon;
}
.blue{
    background-color: blue;   
}
.yellow{
    background-color: yellow;   
}
article{
   background-color: #F7F3F3;
   margin: 10px;
   width: 100%;
   height: 120px;
   border-radius: 10px;
   padding: 10px;
}

/* Menu desplegable */
#menu{
    margin-top: 15px;
}
#menu ul{
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
#menu ul a{
    display: block;
    color:#333;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 32px;
}
#menu ul li{
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}
#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 0px;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul a{
    padding: 10px 15px;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul li:hover{
    background-color: white;
    color: black;  
}


#menu ul ul a:hover{
    background-color: black;
    color: white;  
}
