h1{
    background-color: orange;
    color: white;
}
.colorBlack{
    color: black;
}
#colorRed{
    color: red;
}

*{

}

.class1, .class2{
    color: red; 
   
}
h1, p{
    color: blue; 
}

h1.colorWhite{
    color: red; 
}

div > p {
    color: red; 
}

div:nth-child(2) {
background-color: black;
}

div p:nth-child(2) {
    background-color: black;
}
a:hover{
  font-size: 24px;  
}
a:active{
    font-size: 63px;  
}
a:visited{
    font-size: 63px;  
}

p:first-child{

}
p::after{

}
p::before{

}

input:focus{

}
input:required{

}

[href]:{

}
[href='valor']:{

}
input[type='email']{
    
}